<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
    <title>facebook-wh</title>
    <desc>Created with Sketch.</desc>
    <g id="facebook-wh" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="32" height="32" rx="4"></rect>
        <path d="M17.996675,27 L13.3312748,27 L13.3312748,15.9986114 L11,15.9986114 L11,12.2079021 L13.3312748,12.2079021 L13.3312748,9.93208789 C13.3312748,6.83981323 14.6469375,5 18.3872402,5 L21.5003578,5 L21.5003578,8.79209791 L19.5546593,8.79209791 C18.0985925,8.79209791 18.0023767,9.3218253 18.0023767,10.3104645 L17.9959623,12.2079021 L21.5217391,12.2079021 L21.10908,15.9986114 L17.9959623,15.9986114 L17.9959623,27 L17.996675,27 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
    </g>
</svg>