<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
    <title>linkedin-wh</title>
    <desc>Created with Sketch.</desc>
    <g id="linkedin-wh" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="32" height="32" rx="4"></rect>
        <path d="M5.55491535,12.0544244 L9.84289751,12.0544244 L9.84289751,26.9985913 L5.55491535,26.9985913 L5.55491535,12.0544244 Z M7.58960493,10.185171 L7.55856073,10.185171 C6.00634996,10.185171 5,9.04277115 5,7.59610703 C5,6.11986171 6.03610067,5 7.61935564,5 C9.20131701,5 10.1740358,6.11704439 10.20508,7.59188116 C10.20508,9.03854528 9.20131701,10.185171 7.58960493,10.185171 L7.58960493,10.185171 Z M27,27 L22.1376999,27 L22.1376999,19.2652068 C22.1376999,17.2410039 21.3771167,15.8605455 19.7046096,15.8605455 C18.4253293,15.8605455 17.7138993,16.7916506 17.382761,17.6917659 C17.2585842,18.0129338 17.2779868,18.4622871 17.2779868,18.913049 L17.2779868,27 L12.4609595,27 C12.4609595,27 12.5230479,13.2996542 12.4609595,12.0544244 L17.2779868,12.0544244 L17.2779868,14.3997951 C17.5625588,13.3743117 19.1018344,11.9107441 21.5582079,11.9107441 C24.6057149,11.9107441 27,14.0617237 27,18.6890767 L27,27 L27,27 Z" id="Shape" fill="#387EC0" fill-rule="nonzero"></path>
    </g>
</svg>