<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
    <title>rss</title>
    <desc>Created with Sketch.</desc>
    <g id="rss" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g>
            <rect id="Rectangle" x="0" y="0" width="32" height="32"></rect>
            <circle id="Oval" stroke="#FFFFFF" stroke-width="2" fill="#000000" cx="16" cy="16" r="15"></circle>
            <path d="M9.46023262,8.72727273 L9.46023262,11.3644916 C15.6178055,11.3685538 20.6225092,16.3821945 20.6281964,22.5454545 L23.2727273,22.5454545 C23.2711024,18.7366801 21.7225691,15.2853844 19.2202172,12.7814077 C16.7178654,10.2782434 13.2681946,8.72889763 9.46023262,8.72727273 L9.46023262,8.72727273 Z M9.45617036,13.4264945 L9.45617036,16.0645258 C11.1777559,16.0653382 12.8083469,16.7421107 14.0262123,17.9632259 C15.246515,19.1810913 15.9192252,20.8124947 15.922475,22.5405798 L15.922475,22.5454545 L18.5735055,22.5454545 C18.5710682,20.0317284 17.5490037,17.7552382 15.897289,16.102711 C14.2455743,14.4501839 11.9690841,13.4273069 9.45617036,13.4264945 L9.45617036,13.4264945 Z M9.99238861,21.9929873 L9.99238861,21.9921748 L9.99157616,21.9921748 L9.99238861,21.9929873 L9.99238861,21.9929873 Z M12.5857351,19.4085778 C12.9212777,19.743308 13.1252031,20.1966561 13.1260156,20.7020012 C13.1252031,21.2057214 12.9212777,21.659882 12.58736,21.9921748 L12.5857351,21.9929873 C12.2526298,22.3252801 11.7960318,22.5292055 11.2890618,22.5292055 C10.7812794,22.5292055 10.3263063,22.3244676 9.99238861,21.9921748 C9.66009578,21.659882 9.45454545,21.2065338 9.45454545,20.7020012 C9.45454545,20.1966561 9.66009578,19.7424955 9.99238861,19.4085778 C10.3263063,19.076285 10.7812794,18.8707346 11.2890618,18.8707346 C11.7960318,18.8707346 12.2526298,19.076285 12.5857351,19.4085778 L12.5857351,19.4085778 Z" id="Shape" fill="#FFFFFF"></path>
        </g>
    </g>
</svg>