<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
    <title>twitter-wh</title>
    <desc>Created with Sketch.</desc>
    <g id="twitter-wh" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="32" height="32" rx="4"></rect>
        <path d="M25.643071,8.4781164 C26.730782,7.79170882 27.5653969,6.70330783 27.9570933,5.40676008 C26.9386825,6.04391161 25.8133083,6.50469452 24.6126079,6.75415277 C23.654458,5.67369634 22.2850267,5 20.7694626,5 C17.8618692,5 15.5056641,7.48663873 15.5056641,10.5532284 C15.5056641,10.9885887 15.5493534,11.4128268 15.6397448,11.817998 C11.2647962,11.5860177 7.3854943,9.37743753 4.78673868,6.01531124 C4.33327468,6.83836486 4.07415232,7.79170882 4.07415232,8.80860896 C4.07415232,10.7343637 5.00367823,12.4344937 6.41679873,13.4323271 C5.55355992,13.4037267 4.74154286,13.1510906 4.03046313,12.7379748 L4.03046313,12.8062979 C4.03046313,15.4979055 5.84431926,17.7430304 8.25626579,18.2514806 C7.81334737,18.381771 7.34933767,18.446916 6.86724971,18.446916 C6.52828153,18.446916 6.19684603,18.413549 5.87746274,18.3484038 C6.54635991,20.5538062 8.49128372,22.1617796 10.796267,22.20468 C8.99295657,23.6950744 6.7226233,24.5816842 4.25644188,24.5816842 C3.83160183,24.5816842 3.41128132,24.5578506 3,24.5054167 C5.3305942,26.0800231 8.09808066,27 11.071961,27 C20.7589169,27 26.0528458,18.5374838 26.0528458,11.1983244 C26.0528458,10.9568107 26.0498327,10.7168858 26.0392871,10.4801386 C27.0682436,9.69680774 27.9631195,8.71804131 28.6666667,7.60421786 C27.7220755,8.04593386 26.7066776,8.34464827 25.643071,8.4781164 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
    </g>
</svg>